* {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav,
.nav-item>a {
    color: white;
}

.jumbotron {
    background-color: #fffaee;
}

.jumbotron-abus {
    background-image: url(images/femmePleure.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section {
    margin-top: 70px;
}

.card-etudiant {
    background-color: #fdfbe0 !important;
}

.card-employeurs {
    background-color: #ebeefb !important;
}


h4 {
    padding: 20px;
    font-weight: 900;
}

h2,
h5 {
    font-weight: 900;
}

.savoir-faire {
    font-weight: 900;
}

.jumbotron-carousel {
    margin-top: 70px;
    background-color: #f2e93f;
}

.carousel-inner {
    min-height: 900px;
    /* Ajuste la hauteur du carousel */
}

.carousel-item {
    position: relative;
    height: 900px;
    /* Hauteur uniforme des items */
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    /* Fond semi-transparent */
    padding: 15px;
    border-radius: 5px;
    max-width: 80%;
    /* Largeur max pour éviter que ça prenne toute l'image */
    text-align: center;
    /* Centrer le texte */
}

.carousel-caption>h5,
p {
    /* color: white; */
    vertical-align: middle;
}

.learning-section {
    background-color: #fff7c5;
    color: #60241e;
    padding: 50px;
}

blockquote {
    font-style: italic;
    font-weight: 900;
}

.stats-section {
    background-color: #F8F9FA;
}

.progress-container {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-container-paragraph>p {
    font-size: 1.2em;
    font-weight: 900 !important;
    font-style: italic !important;
    color: white;
}

.progress-ring {
    transform: rotate(-90deg);
}

.progress-ring__background,
.progress-ring__circle {
    fill: none;
    stroke-width: 8;
    cx: 50;
    cy: 50;
    r: 40;
}

.progress-ring__background {
    stroke: #ddd;
}

.progress-ring__circle {
    stroke: #D77B09;
    stroke-dasharray: 251.2;
    stroke-dashoffset: calc(251.2 - (75 * 251.2) / 100);
    transition: stroke-dashoffset 0.5s;
}

.progress-text {
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    color: #D77B09;
}

.form-container {
    margin: 0px;
    padding: 30px;
    background-color: #fff7c5;
    color: #60241e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container .form-control {
    border-radius: 5px;
}

.form-container .btn {
    border-radius: 5px;
}

.sensibilisation-section {
    background-color: #fff7c5;
    color: #60241e;
    padding: 50px;
}

#logout {
    display: none;
}

.bg-dark {
    background-color: #60241e !important;
}

.btn-primary {
    background-color: #60241e !important;
    color: #fff7c5 !important;
    font-weight: bold;
}

.bg-light,
.btn-dropwdown-toogle {
    background-color: #60241e !important;
    /*A revoir*/
}

.special-color {
    color: white;
}

.card-img-top {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover .card-img-top {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-inspi h3 span {
    display: block;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: var(--bs-primary);
}

.section-inspi-indic {
    font-family: "Avigea", sans-serif;
}

@media (max-width: 768px) {
    .section-inspi .text-end {
        text-align: unset !important;
    }
}

.fas {
    color: #60241e !important;
}
#coursesLink{
    display: none;
}
.great-title{
    font-size: 6em;
    color: #60241e;
}

.big-title-4-woman{
    font-size: 2.3em; 
    font-weight: bold;
    color: #60241e;
}

.our-strong-women {
    background-color: #fff7c5;
}
.card-title{
    color: #60241e;
}